:root {
    --container-size: 80vh;
}


html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    display: flex;
    width: var(--container-size);
    height: var(--container-size);
    justify-content: center;
    flex-wrap: wrap;
    outline: 1px solid black;
}

.grid-item {
    flex-grow: 1;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.hovered {
    background-color: black;
}

.redraw-btn {
    width: 150px;
    height: 50px;
}